:root {
    --primary-color: #1E90FF;
    --secondary-color: rgb(15, 22, 31);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    user-select: none;
}

a {
    all: unset;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

a, p, li, h1, h2, span {
    font-family: 'Roboto';
}

svg {
    pointer-events: none;
    height: 15px;
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
    user-drag: none;
}

button, input[type="submit"] {
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
}

button:hover, input[type="submit"]:hover {
    background: #1e90ffe0;
}

input {
    outline: 0;
    border-radius: 10px;
}

select, input[type = 'date'] {
    color: grey;
    font-family: 'roboto';
}

.has-value {
    color: black!important;
}

.hide {
    display: none!important;
}

.flex {
    display: flex;
}

.gap {
    display: grid;
    grid-area: 1rem;
}

.logo .primary {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 25px;
    color: var(--primary-color);
    padding-right: 3px;
}

.logo .secondary {
    font-weight: 300;
    font-size: 20px;
    color: rgb(36, 143, 143);
}

.text-focus {
    color: var(--primary-color);
    font-weight: 600;
}

.text-card {
    background: #1e90ff24;
    border-radius: 99px;
    font-weight: 600;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient-text {
    background-image: linear-gradient(to right, #1890FF, #13C2C2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.reserve-btn {
   gap: 1rem;
}

.reserve-btn button {
    padding: 0.75rem 2rem;
}

.reserve-btn button.manage {
    border: 1px solid #1e90ff33;
    background-color: white;
    color: var(--primary-color);
}

.reserve-btn button.manage:hover {
    background: #1e90ff12;
}

body {
    background-color: rgb(230 247 255 / .5);
}

header {
    padding: 1rem;
    background-color: rgb(230 247 255 / .5);
}

.container {
    width: 75%;
    display: flex;
    margin: 0 auto;
}

header .container {
    justify-content: space-between;
    padding: 1rem 0;
}

header .container .menu {
    gap: 2rem;
    align-items: center;
}

header .container .menu-options {
    gap: 2rem;
}

header .container .menu-options a {
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .container .menu-options a:hover svg {
    color: rgb(0, 136, 204);
}

header .container .text-card {
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: relative;
}

header .container .text-card:hover {
    background-color: #1e90ff2b;
}

header .container .text-card span {
    font-size: 19px;
    font-family: Montserrat;
    font-weight: bold;
}

header .container .text-card form {
    position: absolute;
    bottom: -50px;
    border-radius: 10px;
    z-index: 1;
}


header .container .text-card form::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--primary-color); 
}
 
header .container form:hover::before {
    border-bottom: 10px solid #1e90ffe0;
}

footer {
    padding: 1rem 1rem 0rem 1rem;
    border-top: 1px solid rgb(0 0 0 / 10%);
    font-size: 14px;
}

footer li, footer span {
    font-family: Montserrat;
}

footer .container {
    justify-self: center;
    padding: 1rem;
    margin: 2rem;
}

footer .container .wrapper {
    justify-content: space-between;
}

footer .container .about-us, 
footer .container .our-links,
footer .container .our-contact {
    flex-direction: column;
    gap: 1rem;
}

footer .container .about-us {
    width: 33%;
}
footer .container .about-us > span {
    opacity: 0.6;
}

footer .wrapper .box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer .wrapper .box a {
    color: var(--primary-color);
}

footer .wrapper .box li {
    opacity: 0.75;
}

footer .wrapper .box a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

footer .copyright {
    text-align: center;
    padding: 2rem 0;
    border-top: 1px solid rgb(0 0 0 / 10%);
    color: #0000008f;
}

main {
    background-color: rgb(230 247 255 / .5);
}

main .container {
    justify-content: space-between;
    padding: 1rem;
}

main .primary {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

main .primary .message {
    border: 1px solid #00b6ff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    font-size: 14px;
    color: var(--primary-color);
    background-color: #69c1ff26;
}


.dot {
    position: relative;
    display: flex;
    height: 7px;
    width: 7px;
  }
  
.dot::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background-color: var(--primary-color); 
    opacity: 0.75;
    animation: ping 1.5s infinite;
}
  
.dot::after {
    content: "";
    position: relative;
    display: inline-flex;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
  
@keyframes ping {
    0% {
      transform: scale(1);
      opacity: 0.75;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
}


main .primary .details {
    font-size: 24px;
    width: 440px;
    gap: 1rem;
}

main .primary .details h1 {
    
}

main .primary .details > span {
    opacity: 0.65;
    font-size: 19px;
    font-family: montserrat;
}

main .primary .advantage {
    flex-direction: column;
    gap: 1rem;
}

main .primary .advantage > div {
    gap: 1rem;
}

main .primary .advantage > div div {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

main .primary .advantage > div svg {
    color: var(--primary-color);
    height: 17px;
}

main .primary .advantage > div div span {
    font-family: montserrat;
}

section {
    margin: 4rem 0;
}

section .container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 4rem 1rem;
}

section .container h1 {
    font-size: 26px;
}

section .container > span {
    width: 48%;
    text-align: center;
    opacity: 0.65;
}

main .primary .advantage > span,
section .container span,
section .container h1 { 
    font-family: Montserrat;
}

section .cards {
    width: 100%;
    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    justify-content: center;
    gap: 2rem;  
}

section .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border:  1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7); 
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

section .text-card {
    width: 55px;
    height: 55px;
}

section.tutorial .container,
section.perks .container,
section.review .container { 
    width: 100%;
    padding: 4rem 1rem;
}

section.tutorial {
    background-color: rgb(230 247 255 / .5);
}

section.tutorial .container .card {
    position: relative;
    padding: 0;
    width: 77%;
}

section.tutorial .container .tag {
    background: var(--primary-color);
    width: fit-content;
    padding: 0.75rem 2rem;
    border-radius: 99px;
    color: white;
    position: absolute;
    top: 0;
    left: 51.5%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}

section.tutorial .container .steps {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 3rem 0rem;
}

section.tutorial .container .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

section.tutorial .container .step > span {
    width: 75%;
    text-align: center;
}

section.perks .container .cards .card {
    width: 25%;
    gap: 2rem;
    padding: 2rem;
}

section.perks .container svg {
    width: 25px;
    height: 25px;
}

section.perks .container .redirect {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary-color);
    margin-top: auto;
    transition: gap 0.3s ease-in-out;
}

section.perks .container .redirect:hover {
    gap: 1rem;
}

section.perks .container .redirect svg {
    width: 16px;
}


section.review .container .card { 
    width: 25%;
    padding-left: 2rem;
}

section.review .container > span {
    width: 40%;
}

section.review .container .text-card {
    width: 40px;
    height: 40px;
}

section.review .container .stars {
    color: #ffc300;
}

section.review .container .quto {
    width: 90%;
    font-size: 15px;
}

section.review .container .user {
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
    padding-top: 0.5rem;
    margin-top: auto;
    align-items: center;
}

section.review .container .info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

section.review .container .info span:nth-child(1) {
    font-weight: 600;
}

section.review .container .info span:nth-child(2) {
    font-weight: 400;
    opacity: 0.75;
}

section.end .container .reserve-btn {
    margin-top: 1rem;
}

section.booking ,
section.appointment ,
section.contact  {
    margin: 0;
    background-color: rgb(230 247 255 / .5);
}

section.contact .container { 
    gap: 2rem;
}

section.booking h1,
section.contact h1 { 
    font-size: 36px;
}

section.booking .card ,
section.contact .card {
    padding: 2rem;
    font-family: 'roboto';
}


section.booking .card {
    margin-top: 2rem;
}


section.contact .card > * {
    padding-left: 1rem;
}

section.booking .card form,
section.contact .card form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

section.booking .card form {
    font-size: 15px;

}

section.booking .card form label div {
    display: flex;
    align-items: center;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    background: white;
}

section.booking .card form label ,
section.contact .card form label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 1rem 1rem 0;
}

section.booking .card form > div {
    display: flex;
    justify-content: space-between;
}

section.booking .card form > div label {
    width: 50%;
}

section.booking .card form textarea,
section.contact .card form label input,
section.contact .card form textarea {
    width: 500px;
    min-width: 100%;
    height: 45px;
    padding-left: 0.5rem;
    border: 1px solid var(--primary-color);
    font-size: 15px;
    font-family: roboto;
}

section.booking .card form textarea,
section.contact .card form textarea {
    height: 100px;
    padding-top: 0.5rem;
}

section.booking .card form textarea {
    border: 1px solid rgba(105, 105, 105, 0.397);
}

section.booking .card form input[type='submit'],
section.contact .card form input[type='submit'] {
    padding: 0.75rem;
}

section.booking .card form label input {
    height: 45px;
    background-color: transparent;
    font-size: 15px;
}

section.contact .card form input[type='submit'] {
    width: 500px;
    align-self: center;
}

section.booking .card form input[type="submit"] {
    margin-top: 1rem;
}

section.booking .card form input[type="tel"] {
    width: 500px;
}

section.booking .card form input[type="date"] {
    width: 100%;
    padding: 0.5rem;
}

section.booking .card form input[type="date"]::-webkit-calendar-picker-indicator {
    margin-left: auto;
    opacity: 0.5;
    cursor: pointer;
}

section.booking .card form select {
    height: 45px;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    padding: 0.5rem;
    appearance: none;
    cursor: pointer;
    font-size: 15px;
}

section.booking .card form label select:disabled {
    color: transparent!important;
}

section.booking .card form select option:disabled {
    background: #51473633;
}

section.booking .card form label .input-focus {
    background-color: #1e90ff0f;
}















section.booking .card form div svg {
    margin: 0.25rem;
}





.auth-form {
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    background-color: #607d8b17;
    padding: 3rem;
    border-radius: 20px;
    position: relative;
    border: 1px solid #00000012;
    background: #79b7e914;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    backdrop-filter: blur(12px);
  }
  
  .auth-form .title {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .auth-form .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--primary-color);
  }
  
  .auth-form .title::before {
    width: 18px;
    height: 18px;
    background-color: var(--primary-color);
  }
  
  .auth-form .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .auth-form .message, .method {
    color: rgb(0 0 0 / 82%);
    font-size: 16px;
  }
  
  .auth-form div {
    text-align: center;
  }
  
  .auth-form div a {
    color: var(--primary-color);
  }
  
  .auth-form div a:hover {
    text-decoration: underline var(--primary-color);
  }

  .auth-form .form label {
    position: relative;
    width: 400px;
    margin-bottom: 5px;
    font-size: 19px;
  }
  
 
  .auth-form .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    border: 1px solid rgba(105, 105, 105, 0.397);
  }
  
  .auth-form .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .auth-form .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .auth-form .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .auth-form .form label .input:valid + span {
    color: green;
  }

  .auth-form .submit {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    padding: 0.75rem 4rem;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .auth-form .submit:hover {
    background-color: #1e90ffe3;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }